<div class="box">
  <!--splitter-->
  <div class="title">
    <label>SPLI</label>
    <br>
    <label>TTER</label>
  </div>
  <!--calculator-->
  <div class="calculator">
    <div class="inputs">
      <div class="labelAndinput">
        <label>Bill</label>
        <br>
        <div class="input-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
          </svg>
          <input type="number" [(ngModel)]="bill" (keyup)="validateBill()">
        </div>
      </div>
      <br>
      <div class="web">
        <label>Select Tip %</label>
        <div class="grid">
          <button (click)="changeTipPercent(5)" [ngClass]="tip == 5 ? 'tipsActive' : 'tips'">5%</button>
          <button (click)="changeTipPercent(10)" [ngClass]="tip == 10 ? 'tipsActive' : 'tips'">10%</button>
          <button (click)="changeTipPercent(15)" [ngClass]="tip == 15 ? 'tipsActive' : 'tips'" >15%</button>
        </div>
        <div class="grid">
          <button (click)="changeTipPercent(25)" [ngClass]="tip == 25 ? 'tipsActive' : 'tips'">25%</button>
          <button (click)="changeTipPercent(50)" [ngClass]="tip == 50 ? 'tipsActive' : 'tips'">50%</button>
          <input class= "custom" type="number" placeholder="Custom" [(ngModel)]="custom" (keyup)="validateTip()" >
        </div>
      </div>
      <div class="mobile">
        <label>Select Tip %</label>
        <div class="grid">
          <button (click)="changeTipPercent(5)" [ngClass]="tip == 5 ? 'tipsActive' : 'tips'">5%</button>
          <button (click)="changeTipPercent(10)" [ngClass]="tip == 10 ? 'tipsActive' : 'tips'">10%</button>
        </div>
        <div class="grid">
          <button (click)="changeTipPercent(15)" [ngClass]="tip == 15 ? 'tipsActive' : 'tips'" >15%</button>
          <button (click)="changeTipPercent(25)" [ngClass]="tip == 25 ? 'tipsActive' : 'tips'">25%</button>
        </div>
        <div class="grid">
          <button (click)="changeTipPercent(50)" [ngClass]="tip == 50 ? 'tipsActive' : 'tips'">50%</button>
          <input class= "custom" type="number" placeholder="Custom" [(ngModel)]="custom" (keyup)="validateTip()" >
        </div>
      </div>
      <br>
      <div class="labelAndinput">
        <label>Number of people</label>
        <div class="input-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <input type="number" [(ngModel)]="numOfPeople" (keyup)="validatePeople()">
        </div>
      </div>
      
    </div>
    <div class="calculations">
      <div class="grid">
        <div class="left">
          <label class="leftTop">Tip Amount</label>
          <label class="leftBottom">/ person</label>
        </div>
        <div class="right">${{ tipAmount | number : '1.2-2' }}</div>
      </div>
      <div class="grid">
        <div class="left">
          <label class="leftTop">Total</label>
          <label class="leftBottom">/ person</label>
        </div>
        <div class="right">${{ totalAmount | number : '1.2-2' }}</div>
      </div>
      
      <button class="reset">RESET</button>
    </div>
    
  </div>
</div>
